<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adamnain.belajarmengaji">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name="com.adamnain.belajarmengaji.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adamnain.belajarmengaji.BelajarActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.HijaiyahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.HarokatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.HarokatFathahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.HarokatKasrohActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.HarokatDhomahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.TanwinActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.TanwinFathahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.TanwinKasrohActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.TanwinDhomahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.KuisActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.KuisTebakHijaiyahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.KuisTebakHarokatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.KuisTebakTanwinActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.KuisTebakBacaanActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.KuisTebakBacaanHijaiyahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.KuisTebakBacaanHarokatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.adamnain.belajarmengaji.KuisTebakBacaanTanwinActivity"
            android:screenOrientation="landscape" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.adamnain.belajarmengaji.MainActivity" android:screenOrientation="landscape"></activity>
    </application>

</manifest>