<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adamnain.belajarmengaji">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BelajarActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.HijaiyahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.HarokatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.HarokatFathahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.HarokatKasrohActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.HarokatDhomahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.TanwinActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.TanwinFathahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.TanwinKasrohActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.TanwinDhomahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.KuisActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.KuisTebakHijaiyahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.KuisTebakHarokatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.KuisTebakTanwinActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.KuisTebakBacaanActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.KuisTebakBacaanHijaiyahActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.KuisTebakBacaanHarokatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.KuisTebakBacaanTanwinActivity"
            android:screenOrientation="landscape" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.AboutActivity"></activity>
    </application>

</manifest>